section {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}
body{
    font-family: Arial;
    line-height: 1.6;
    margin: 20px;

}